<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inventari</a>
  <ul class="navbar-nav mr-auto">
    
    <li class="nav-item">
      <a class="nav-link" href="/categories">categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/subcategorias">subcategorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/materials">materials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/exemplar">exemplars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/localitzacio">localitzacio</a>
    </li>
  </ul>
</nav>
