<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inventari</a>
  <ul class="navbar-nav mr-auto">
    
    <li class="nav-item">
      <a class="nav-link" href="/sessio">Sessio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reserva">Reserva</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cadira">Cadira</a>
      <a class="nav-link" href="/incidencies">Incidencia</a>
    </li>
  </ul>
</nav>
